/* @containers
********************************************************************************************
********************************************************************************************/

.container,
.container_alt {
width: 100%;
max-width: 1280px;
margin: 0 auto;
padding:0 0;
overflow:hidden;
position:relative;
}

.container_alt{ overflow:visible;}

#footer .container{ background:none !important; padding:0 20px;}

.aq_span4>.aq_span4{ width:100%;}

.aq_span12{ width:100% !important; position:relative;}


/* @columns
********************************************************************************************
********************************************************************************************/

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
margin-left:0;
float: left;
min-height: 1px;
}

.foocol{
margin:0 -2px 0 0;
width:36%;
padding: 20px 5% 5px 5%;
position:relative;
height:100%;
min-height:1px;
float:left;
}

.foocol.first,
.foocol.last{width:32%;}

.foocol.first{
padding: 20px 5% 6px 0;
border-left:none !important;
}

.foocol.last{
padding: 20px 0 5px 5%;
border-right:none !important;
}

/*sidebar*/
.fourcol{ width:33.9%; padding:0 0;margin:0 0 40px 0 !important; min-height:1px;}

/*content*/
.eightcol{width:66.1%;padding:0 0; margin:0 0 40px 0 !important; min-height:1px;}

/*sidebar*/
.aq-block-aq_3_column_block{ width:33.4%; padding:0 20px;margin:0 0 0 0 !important; min-height:1px;/*background:#aaa; height:300px; box-shadow: -1px -2px 0 rgba(0, 0, 0, 0.2) inset;*/}


/*content*/
.aq-block-aq_2_3_column_block{width:66.6%;padding:0 20px; margin:0 0 0 0 !important; min-height:1px;/*height:300px; background:#ccc;box-shadow: -1px -2px 0 rgba(0, 0, 0, 0.2) inset;*/}


/* blocks fixes */

.builder .fourcol,
.builder .aq-block-aq_3_column_block,
.builder .eightcol,
.builder .aq-block-aq_2_3_column_block{ margin-top:0px !important;}


/* sidebar position */
.postbarLeft .eightcol,
.postbarLeft .aq-block-aq_2_3_column_block{ float: right !important}

.postbarNone .eightcol,
.postbarNone .aq-block-aq_2_3_column_block{ width:100%;}

.postbarNone .entryhead iframe{ width:100%;}



.woocommerce-page #foliocontent{ float: right !important; width:70%;}
.woocommerce-page #foliosidebar{ float: left !important; width:30%;}
.woocommerce-page #foliosidebar .sidewrap{padding:0 40px 0 0;}


.sixcol{width:50%}

.fourcol,
.aq-block-aq_3_column_block,
.eightcol,
.aq-block-aq_2_3_column_block{ margin:0 0 50px 0; }

.first,
.aq-first {margin-left: 0px !important;}

.widgetable{
	padding:40px 40px 0 40px;
	overflow:hidden;
	margin:0 0 0 40px; 
}

.postbarLeft .widgetable{margin:0 40px 0 0;}

.aq-block-aq_3_column_block .widgetable{margin:0 0 0 0;}




/* @responsive mode
********************************************************************************************
********************************************************************************************/



@media screen and (max-width: 1300px) {
	
	.flexinside,
	.titlewrap{ left:20px; margin:0 0 0 0;}	
	
	.single .entryhead img, .page .entryhead img{ margin:0 auto;}
	
	.entryhead iframe{ max-height:500px;}
	
	.bloggrid div.post {height: 330px;}

}


@media screen and (max-width: 1150px) {

	.container, .container_alt { max-width:100%;padding: 0 0;}
	
	.flexinside,
	.titlewrap{ left:30px; width:80%;}	
	
	.bloggrid div.post,
	.bloggrid div.post iframe {height: 290px;}
	
	.blogger .item p.teaser { font-size: 12px;}
	
	.masonrywrap{ width:102% !important;}
	
	.isotope .item {width: 32%;}
	
}


/* iPad Landscape */
@media screen and (max-width: 1030px) {

#header{ position:relative; top:auto; left:auto;}

.head_offset {height: 0px !important;}

#titles {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
	max-width:20%;
}

.navhead{ position:relative; top:auto; left:auto;max-width:80%;}

.left-header #main-nav {padding-left: 30px !important;}

.nav > li > a{ margin:0 4px;}

#main-nav > li > a i { display:none;}

.flexinside h2,
.blogger .item .item_inn h2,
h1.entry-title{font-size:30px !important; line-height:1.2}

.bloggrid .item .item_inn h2{font-size:18px !important;}

.hrline, .hrlineB{ margin:20px 0;}

.single .entryhead {  min-height: 0;}

.blogger div.post .entryhead iframe {max-height: 460px;}
	
.bloggrid div.post,
.bloggrid div.post iframe {height: 220px;}

.wrapper .wp-review-show-total {
    font-size: 11px !important;
    padding: 5px 4px !important;
}

.bloggrid div.post p.teaser,
.bloggrid div.post .meta_more,
.flexinside .meta_more,
.bloggrid .item.format-quote .tmnf_icon,
.bloggrid .item .item_inn p.meta{ display:none;}

.blogger .format-quote {padding: 10px !important;}

.widgetable {margin: 0 0 0 10px;}
.postbarLeft .widgetable{margin: 0 10px 0 0;}

.post.format-quote blockquote {font-size: 18px;}
  
}

/*iPad Portrait */

@media screen and (max-width: 770px){
	
	
.nav a, .bigmenu > ul > li > a{ font-size:12px !important;}

.flexinside,
.titlewrap{  width:100%;max-width:100%; left:0; padding:0 20px}	

.flexinside {padding:15px 30px;}

.flexinside h2,
.smallslider .flexinside h2{font-size:22px !important; line-height:1.2 !important; width:80%;}

.flexinside p {font-size: 11px !important; line-height:1.4 !important;}

.post-inner {
    left: 40px;
    width: 70%;
}

.entry_item p, .entry_item ul {
    margin: 10px 0;
}

.bloggrid div.post,
.bloggrid div.post iframe {height: 180px;}

.blogger div.post .item_inn, .blogger div.page .item_inn {padding: 25px;}

.isotope .item .item_inn .text_inn,
.bloggrid div.post .text_inn { padding:0 20px;}

.entryhead iframe{ max-height:400px;}

.singleslider,.blogger .singleslider{width: 100%; margin:0 0 20px 0;}

#foliocontent .singleslider  {width: 100%; margin:30px 0  0;}

.post.format-quote blockquote{ font-size:14px;}

#header ul.social-menu{ display:none;}

.isotope .item {width: 31.5%;}

}



/* Mobile */

@media handheld, only screen and (max-width: 740px) {

body {
width: 100%;
min-width: 0;
margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;
margin-top:0;
font-size: 16px;
-webkit-text-size-adjust: none;
}


.onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol
{
width: auto;
float: none !important;
padding-left: 20px;
padding-right: 20px;
margin-left: 0;
margin-right: 0;
}

.threecol{ min-height:0; border:none !important; padding:20px 0;}

.fourcol{
padding: 0 !important;
max-width: 290px;
float:none;
margin:0 auto 30px auto;
}

.sixcol{
padding: 0 !important;
float:none;
margin:0 auto 30px auto;
}

#titles {max-width:50%; float:left !important;}

.navhead{max-width:100%; margin:0 0 !important; float:none !important;}

#content{
	padding-left:0;
	padding-right:0;
	margin-top:0;
}

#sidebar{float:none !important; margin:0 auto !important; padding:40px 0 !important; width:100% !important; max-width:305px !important; border: none !important;}

#copyright{ padding:0 5%;}

.pagination{ margin-bottom:40px; height:35px;}


/* mobile menu */
a#navtrigger,
a#navtrigger-sec{ display:block !important;}

.navhead{ position:relative; z-index:9;}

#header a.searchSubmit { display: none;}

#navigation{ display:none; position:relative; top:auto; margin:-80px 0 0 0 !important; padding:80px 0 0 0; background-color:#222 !important;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; border-top: none !important; }
#navigation a{ color:#ddd !important}

#header ul.nav,
#header #main-nav,
#header.left-header #main-nav{ width:100% !important; margin:0 0 0 0 !important; padding:0 0 0 0 !important;}

ul.nav li,
.nav li ul{ width:100% !important; background-color: transparent !important; border:none !important; float:none; display:block;margin:0 0 0 0 !important; position:relative !important; left:auto !important; display:block !important; visibility:visible !important; }

#navigation .nav li ul li > a{ border-bottom:1px dotted #444 !important;}

ul.nav li a{ width:100% !important; text-align:left; padding:12px 20px !important; margin:0 0 0 20px;}

.nav li a.sf-with-ul {padding-right: 0 !important;}

#main-nav > li > a {margin: 0 0 0 0 !important;}

.nav > li > ul > li,
.nav li ul ul li,
#main-nav li ul li > a,
.nav li ul li > a {max-width: 100% !important;margin:0 0 0 0; padding:0 0 0 0;}

.nav li ul{ padding:0 20px;}

#main-nav li.mega ul.sub-menu { min-height:0px;}

.nav li ul ul{ margin:0 0 0 0; padding:0 0 0 0;}

.mega2 .sf-sub-indicator{ display:none;}

div.sub,
.nav > li > ul:after{ display:none !important;}

.sf-arrows .sf-with-ul::after { right: 15px;}

/* end mobile menu */



/*//// 
stacked clomuns & posts */

/* columns */
#fixedcolumn,
#footer .foocol,
.isotope,
.blocker,
.twocats,
.masonrywrap,
.blogger,
.blogger.col_layout,
.woocommerce-page #foliocontent,
.woocommerce-page #foliosidebar,
.aq-block-aq_2_3_column_block .twocats,
.eightcol, .aq-block-aq_2_3_column_block,
.fourcol, .aq-block-aq_3_column_block{
    padding: 0 0 !important;
    width: 100%;
	margin:0 auto !important;
	float:none !important;
	display:block;
	width:100%;
	max-width:300px !important;
	border-left: none;
	border-right:none;
}

/* posts */
.blogger div.post, .blogger div.page,
.aq_row > .aq_span12 > .magazine2 .mag-big,
.aq-block-aq_2_3_column_block .twocats .mag-small,
.isotope .item,
.blocker .tab-post{ width:100% !important; float:none; padding:0 0 15px 0 !important; margin:0 0 15px 0 !important; height:auto;}

.blocker .mag-small{ width:50%; padding:0 5px;}

.isotope .item .item_inn {margin:0 0 0 0;}

.flexwrap,
.flexcarousel{ margin-bottom:30px !important;}

.sidewrap{ padding: 0 0 0 0 !important;}

.postbarLeft .eightcol {float: none !important;}

/*//// 
end stacked colmuns & posts */

.flexinside,
.aq-block-aq_2_3_column_block .flexinside{  bottom:0; left:0; width:100%; margin:0 0 0 0; padding:0 15px 0 15px; border-width:0px;}

.blogger div.post .entryhead, .blogger div.page .entryhead{ width:100%;}

.blogger div.post .item_inn, .blogger div.page .item_inn,
.blogger.col_layout div.post .item_inn {padding: 23px 30px 0 30px;}

.entryhead img,
.blogger .item .imgwrap img,
.entryhead iframe {max-width: 100% !important; float:none; margin:0 auto;}

.entry > p:first-child {
    font-size: 100%;
    margin: 25px 0 15px;
    opacity: 1;
}

.imgwrap{ float:left;}

.flexinside p,
h2.block span.subtitle,
.modern div.post:nth-child(even) .item_inn:before,
.modern div.post:nth-child(odd) .item_inn:before,
.meta.cat:after,
div.tooltip p:after,
.hrline:after,
.nav>li>ul:after,
.sf-arrows .sf-with-ul::after,
.sf-arrows .sf-with-ul::after,
.post.format-quote .hrline:after,
h2.widget:after,
.dekoline::after
{ display:none !important;}

.imgwrap p.meta.counter{ background: none;}

.woocommerce-page div.product div.summary {
    margin: 0 0 40px 0;
    width: 100%;
}
.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
    width: 100% !important;
	margin:0 0 30px 0 !important;
}

.woocommerce h1.page-title,
p.woocommerce-result-count{ text-align:center; width:100%;}

.woocommerce #foliocontent .woocommerce-tabs,
.woocommerce #foliocontent .related.products {width: 100%;}

.woocommerce-page #foliosidebar {clear: both;}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {float: none;}

.coco-social ul.coco-social-buttons.sixths li{ width:32% !important;}

h1.itemtitle{ font-size:25px !important;}

.scrollTo_top{ visibility:hidden; display:none}

.tmnf-sc-quote.left,
.tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


.contact-form .forms textarea,
.contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

.contact-form .forms label{ margin-bottom:10px}

.contact-form .forms .buttons .submit,
.contact-form .forms input#sendCopy{ margin-left:0;}


.blocker,
.homeblog,
#content,
#foliosidebar,
#foliocontent{ width:100%;}

#foliocontent,
#foliosidebar .widgetable{ margin:0 0 !important;}

.isotope{ max-width:305px; margin: 0 auto 50px auto !important;}

.isotope .item.format-quote blockquote {margin: 40px 0;}

#post-nav img,
.flexcarousel .meta,
.isotope .item.format-quote .tmnf_icon{ display:none;}

.postauthor{ font-size:90%; line-height:1.5; padding:15px 15px;}


h1.entry-title,
h2.posttitle {font-size:26px !important; margin:0 5%; text-align:center;}

.meta_full {margin: 0;text-align: center;}

h2.block,
h2.archiv,
h2.widget,
.pagination,
.dividers h2.block{ text-align:center;font-size:18px !important;max-width:305px !important; width:100%; margin-left:auto !important; margin-right: auto !important;}

.pagination{ height:90px;}
.page-numbers {display: inline-block;}

.entryhead{ width:100%; overflow:hidden;}

.entryhead iframe,
.blogger div.post .entryhead iframe { max-height:250px;} 

.blogger .post.format-quote{ margin-bottom:30px !important;}

ul.related li {width: 45%; height:220px;}

.bloggrid div.post .item_inn,
.aq-block-aq_3_column_block .bloggrid div.post .item_inn,
.aq-block-aq_2_3_column_block .bloggrid div.post .item_inn { margin: 0 0;}


.bloggrid div.post, .bloggrid div.post iframe { height: 260px;}

.bloggrid div.post .item_inn{ padding:0 0 !important;}

.bloggrid .item.format-quote,
.aq-block-aq_3_column_block .bloggrid .item.format-quote,
.aq-block-aq_2_3_column_block .bloggrid .item.format-quote {padding: 0 0 0 0 !important;}

.entry {padding: 0 20px 20px;}

#content .postauthor img.avatar {
    float: none !important;
    margin: 5px auto !important;
}

.mainflex img,
.single .entryhead img, .page .entryhead img {
    margin: 0 -15%;
    max-width: 130% !important;
    width: 130%;
}

.widgetable {margin:0 0 !important;}

/* comments */
.commentlist li.comment {padding: 20px 5px 10px 5px;}
ul.children li.comment:last-child {padding: 20px 0 10px 20px !important;}
.commentlist .avatar {right: 0;left:auto;top: 0;width: 40px;}
li.bypostauthor{ padding-left:10px !important;}

	
}


@media only screen and (max-width: 429px) {
	


h1.entry-title,
h2.itemtitle,
h2.block { font-size:22px !important; margin-top:20px;}

h1.entry-title,
h2.posttitle,
.flexinside h2,
.smallslider .flexinside h2{font-size:20px !important; line-height:1.2 !important;}

h1.entry-title{ padding:5px 0;margin-top:10px;}

h2.itemtitle { text-align:center;}

.blogger div.post .item_inn, .blogger div.page .item_inn, .blogger.col_layout div.post .item_inn {
    padding: 23px 20px 0;
}

.postinfo {padding: 0 20px 20px;}

.postinfo .likes, .postinfo .meta {height: 120px;}

.related li { width:45%; height:220px;}

.comment-form-author,
.comment-form-email,
.comment-form-url,
#post-nav,
.postauthor{ width:100%;}

#respond textarea{ width:99.5%;}


}
